@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

:root {
    background-color: rgb(29, 26, 26); 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Nova Square', cursive;
}

h1 {
    font-size: 5.4rem;
    color: #fff;
    margin-bottom: 4rem;
}

h2 {
    color: yellow;
    font-size: 4.2rem;
    margin-bottom: 4rem;
}

.container {
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    justify-content: center;
}

.hidden {
    display: none;
}

.btn {
    font-size: 2.2rem;
    padding: 3rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(29, 26, 26);
    background: linear-gradient(90deg, rgb(255, 35, 18)0%, rgb(255, 62, 0)100%);
    border-radius: 10px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 1.2rem 0 rgba(233, 67, 1, 0.911);
    transition: transform 150ms;
    transform: scale(1.03);
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transition: none;
}

#highscore-btn {
    background: linear-gradient(90deg, rgb(255,240, 9)0%, rgb(240, 211, 6)100%);
}

#highscore-btn:hover {
    box-shadow: 0 0.5rem 1.2rem 0 rgb(255, 255, 0, 0.5);
}

.fa-crown {
    font-size: 2.5rem;
    margin-left: 1rem;
}